/* CSS general */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* He eliminado overflow: hidden; temporalmente */
  font-family: Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Color de respaldo y fondo */
  background-color: #1a1a1a; /* Color de fondo por si la imagen no se carga */
  
  /* Ruta absoluta de la imagen */
  background-image: url('./textures/web_first_images_release_0.jpg'); /* Cambia según la estructura de carpetas */
  
  background-size: cover; /* Asegúrate de que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Contenedor de la página */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Contenedor del formulario */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
