.button {
    background: linear-gradient(90deg, #870DD9, #5F4A8C);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(135, 13, 217, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 10PX;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(135, 13, 217, 1);
}
.button {
    margin-right: 10px; 
}

.button:last-child {
    margin-right: 0; 
}
/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.opaque-background {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
  padding: 20px;
  border-radius: 10px;
}

.planet {
  transition: transform 0.2s;
}

.planet:hover {
  transform: scale(1.1);
}

.sun {
  margin-top: 20px;
}

.sun-label {
  margin-top: 10px;
}

.achievement-img {
  display: block;
  margin: 20px auto;
}

.achievement-text {
  text-align: center;
  margin-top: 10px;
}